<!--<br><br><br><br><br>
<h1 style="text-align: center; " class="mb-3">Booking details</h1>
<div class="traveller-page">
<div class="d-flex justify-content-center">
<form  #form="ngForm" (ngSubmit)="SaveBooking(form)" style="width:600px" >

    <!-- <div class="col-sm-7" style="width:600px">
      <img src={{court.courtImageUrl}} alt="" >
    </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label" >SportName:</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" name="SportName"  [(ngModel)]="repo.sportname" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label" >CourtName:</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" name="CourtName" [(ngModel)]="repo.courtname" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="form-group row">
  <label  class="col-sm-3 col-form-label" >Date:</label>
  <div class="col-sm-8">
  <mat-form-field>
    <input matInput [matDatepicker]="picker" [min]="minDate" placeholder="Choose a date" name="date" style="z-index: 8;" [(ngModel)]="selecteddate" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  </div>
</div>
<div class="form-group row"  class="d-flex justify-content-md-center">
  <label  class="col-sm-3 col-form-label" >SlotTime:</label>
  <select class="form-select" aria-label="Select option" class="select" class="select">
    <option selected>{{repo.slottime}}</option>
    <option *ngFor="let slot of slotmethod">{{slot}}</option>
  </select>

</div>
<div class="form-group row">
  <label  class="col-sm-3 col-form-label" >Price:</label>
  <div class="col-sm-7">
    <input type="text" class="form-control" name="Price" [(ngModel)]="court.courtPrice" [ngModelOptions]="{standalone: true}">
  </div>
</div>

<br><br><br><br>
<div class="d-flex justify-content-md-center">
  <button type="submit" class="btn btn-success" (click)="navigatetopayment()" style="margin-right: 30px;">Book now</button>
  <button class="btn btn-success" (click)="saveCart()" routerLink="/usercart">Add to cart</button>
</div >
</form>
</div>
</div>-->
<div>
  <navbar></navbar>
</div>



  <br><br><br><br><br>
  <h1 style="text-align: center; " class="mb-3">Booking details</h1>

  <br><br><br>
  <div class="traveller-page">
  <div class="d-flex justify-content-center">
  <form  #form="ngForm" (ngSubmit)="SaveBooking(form)" style="width:600px" >


    <div class="form-group row">
      <label  class="col-sm-3 col-form-label" >SportName:</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" name="SportName"  [(ngModel)]="repo.sportname" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="form-group row">
      <label  class="col-sm-3 col-form-label" >CourtName:</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" name="CourtName" [(ngModel)]="court.courtName" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Date:</label>
      <!-- <div class="col-sm-8">
        <mat-form-field style="width: 340px;">
          <input matInput type="date" [matDatepicker]="picker" [min]="minDate" placeholder="Choose a date" name="date" [(ngModel)]="selecteddate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div> -->
      <input type="text"  style="width: 350px;"   class="form-control" name="date" [(ngModel)]="selecteddate" [ngModelOptions]="{standalone: true}">
    </div>




  <div class="form-group row"  class="d-flex justify-content-md-center slot">
    <label  class="col-sm-3 col-form-label " >SlotTime:</label>
    <select class="form-select" aria-label="Select option" class="select" class="select">
      <option selected>{{repo.slottime}}</option>
      <!-- <option *ngFor="let slot of slotmethod">{{slot}}</option> -->
    </select>
  </div>
  <br>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label" >Price:</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" name="Price" [(ngModel)]="court.courtPrice" [ngModelOptions]="{standalone: true}">
    </div>
  </div>

  <br><br><br><br>
  <div class="d-flex justify-content-md-center">
    <button type="submit" class="btn btn-success" (click)="navigatetopayment()" style="margin-right: 30px;">Book now</button>
    <button class="btn btn-success" (click)="saveCart()" >Add to cart</button>
  </div >
  </form>
  </div>
  </div>




