<div> <navbar></navbar> </div>

<br><br><br><br>
<body style="margin-top: -5.3%;">

  <div  class="small-container cart-page">


    <table style="width: 1100px;">
      <tr >
        <th>Court</th>
        <th>Price</th>
        <th>CourtName</th>
        <th>SubTotal</th>
        <th>Action</th>
      </tr>


        <tr  *ngFor="let item of userCart" >
        <td >
          <div class="cart-info">
            <img src={{item.courtImageurl}} alt="">
          </div>
      </td>
      <td>  {{item.slotTime}}</td>
      <td>{{item.courtName}}</td>

      <td>{{item.price}}</td>
      <td><button style="color: red;"><i class="fas fa-trash-alt" (click)="deletesport(item.cartId)"></i></button></td>



    </table>


  </div>


    <div class="total-price">
      <table >
        <tr>
          <td>SubTotal</td>
          <td><i class="fa-solid fa-indian-rupee-sign"></i>{{repository.totalprice}}</td>
        </tr>

      </table>
    </div>
    <br><br><br>

<div class="d-flex align-items-center justify-content-center"><button style="background-color: #0f172a;" class="btn btn-success"    (click)="savebooking()">Booknow</button></div>

</body>
