.main-c {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.customcard {
  border: 3px solid rgb(50, 223, 195);
  box-shadow: 0px 0px 20px rgb(201, 101, 34);
  margin: 30px;
  border-radius: 10px;
  padding: 20px;
}

.highlighted-div {
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  flex: 1;
}

.wider-date-field {
  width: 100px;
}
