<!-- aregister.component.html
<div class="register-container">
  <h2 class="register-title">Register</h2>
   <form (ngSubmit)="onSubmit()" #form="ngForm">

    <div class="form-group">
      <label for="name">Name</label>
      <input mdbInput type="text" id="name" [(ngModel)]="login.Username" name="name" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input mdbInput type="email" id="email" [(ngModel)]="login.Useremail" name="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input mdbInput type="password" id="password" [(ngModel)]="login.password" name="password" required>
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input mdbInput type="number" id="age" [(ngModel)]="login.Userage" name="age" required>
    </div>
    <div class="form-group">
      <label for="age">MobileNumber</label>
      <input mdbInput type="text" id="age" [(ngModel)]="login.Usermobile" name="mobile" required>
    </div>
    <div class="form-group">
      <label>Gender</label>
      <div class="radio-group">
        <label class="radio-label">
          <input type="radio" name="gender" value="male" [(ngModel)]="login.Usergender" required> Male
        </label>
        <label class="radio-label">
          <input type="radio" name="gender" value="female" [(ngModel)]="login.Usergender" required> Female
        </label>
        <label class="radio-label">
          <input type="radio" name="gender" value="other" [(ngModel)]="login.Usergender" required> Other
        </label>
      </div>
    </div>
    <button type="submit" class="save-button mdb-btn mdb-btn-primary" >Save</button>
  </form>
</div> -->
