
<br><br>

<div class="container">
  <div>
    <select id="stadium" name="stadium" required [(ngModel)]="selectedStadium">
      <option value="" disabled selected>Select a stadium</option>
      <option  *ngFor="let stadium of stadiums">{{ stadium.stadiumName }}</option>
      <!-- Add more options here as needed -->
    </select>
    <button style="background-color: #2c3344;" type="button" (click)="getsports()">Submit</button>
  </div>
</div>
<br><br>

<div class="sports"  *ngIf="showsports" (cick)="showCourts()">
  <!-- <div class="row">
    <div  class="sportDiv" *ngFor="let sport of sports" >
      <div class="card"  style="margin: 50px;">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="dark">
          <img [src]="sport.sportImageUrl" width="100%" height="300px" (click)="getcourts(sport.sportId)" />
        </div>
  </div>

</div>
</div> -->
<div class="sportsrow">
  <div  class="sportDiv" *ngFor="let sport of sports" >
    <div class="card"  style="margin: 50px;">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="dark">
        <img [src]="sport.sportImageUrl" width="100%" height="300px" (click)="getcourts(sport.sportId)" />
      </div>
      <div>
        <p style="font-size: 25px;">{{sport.sportName}}</p>
      </div>
</div>

</div>
</div>
</div>

<br><br><br><br><br><br>
<p *ngIf="showCourtsName" style="text-align: center;font-size: 50px;font-weight: 10px">Courts</p>

<div class="courts">
  <div class="courtsrow">
    <div class="col-lg-2 col-md-4 col-lg-4" *ngFor="let court of courts" >
      <div class="card"  style="margin: 50px;">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="dark">
          <img [src]="court.courtImageUrl" width="100%" height="300px" />
          <h4>Courtname:{{court.courtName}}</h4>
          <h4>Courtprice:{{court.courtPrice}}</h4>
        </div>
  </div>
</div>
</div>
</div>
