<mat-nav-list>
  <div style="color:white" class="logo py-4">
    <img style="width: 40%;height: 4vh;" src="assets/logo.png" alt=""/>
  </div>
  <mat-divider></mat-divider>
 <h2 matSubheader class="mt-2">Applications</h2>
 <!-- <a mat-list-item routerLink="/home" routerLinkActive="list-item-active"><mat-icon>home</mat-icon>Home</a> -->
  <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon>DashBoard </a>
  <a mat-list-item routerLink="/addSport" routerLinkActive="list-item-active"><mat-icon>edit</mat-icon>Add Sport</a>
  <a mat-list-item routerLink="/addStadium"  routerLinkActive="list-item-active"><mat-icon>edit</mat-icon>Add Stadium </a>
  <a mat-list-item routerLink="/addCourt" routerLinkActive="list-item-active"><mat-icon>edit</mat-icon>Add Court </a>
  <!-- <a mat-list-item routerLink="/allstadiums" routerLinkActive="list-item-active"><mat-icon>edit</mat-icon>All Stadiums</a> -->
  <a mat-list-item routerLink="/manageuser" routerLinkActive="list-item-active"><mat-icon>edit</mat-icon>Manage User</a>
  <a mat-list-item routerLink="/alldetails" routerLinkActive="list-item-active"><mat-icon>edit</mat-icon>All Details</a>

</mat-nav-list>
