<mat-toolbar class="prima">
  <mat-toolbar-row fxLayout="row">
    <span>Login</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<mat-dialog-content class="mat-typography">
  <form [formGroup]="loginForm">
    <div fxFlex fxLayout="column">
      <!-- email -->

      <mat-form-field appearance="standard" fxFlex>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
          <span *ngIf="loginForm.controls.email.errors.required">This feild is mandatory</span>
          <span *ngIf="loginForm.controls.email.errors.pattern">This feild is invalid</span>
        </mat-error>
      </mat-form-field> &nbsp;

      <!-- password -->

      <mat-form-field appearance="standard" fxFlex>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required [type]="hide ? 'password':'text'">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-lable]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off':'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
          <span *ngIf="loginForm.controls.password.errors.required">This feild is mandatory</span>
        </mat-error>
      </mat-form-field>



    </div>
  </form>
</mat-dialog-content>
<!-- <h3 class="text-center" style="color: blueviolet;"><a (click)="handleForgotPasswordAction()" mat-dialog-close >ForgotPassword?</a></h3> -->

<!-- Button -->

<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close><mat-icon>cancel</mat-icon> Close</button>
  <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
    [disabled]="!(loginForm.valid &&loginForm.dirty)">
    <mat-icon>login</mat-icon> Login
  </button>

</mat-dialog-actions>
