/* Add your global styles here */
.container {
  display: flex;
}

.sidebar {
  width: 200px;
  padding: 10px;
  background-color: #f0f0f0;
}

.body {
  flex: 1;
  padding: 10px;
}

.slot-table table {
  width: 100%;
  border-collapse: collapse;
}

.slot-table th,
.slot-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.slot-table th {
  background-color: #f0f0f0;
}

/* Adding icons to the buttons */
.slot-table button {
  background: none;
  border: none;
  cursor: pointer;
}

.slot-table button i {
  font-size: 18px;
  color: #007bff; /* You can customize the color to your preference */
  margin: 0 5px;
}
.mat-dialog-container{
  width: 900px;
}
