/* Basic table styles */
table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

/* Toggler styles */
.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}

input:checked + .slider {
  background-color:#0f172a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0f172a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Styling for the toggler in the "on" state */
.slider.on {
  background-color: #0f172a;
}

.slider.on:before {
  background-color:#0f172a;
}

/* Styling for the toggler in the "off" state */
.slider.off {
  background-color: #FFFFFF;
}

.slider.off:before {
  background-color: #FFFFFF;
}
.container {
  position: relative; /* Set the container position to relative */
}

.top-right-corner {
  position: absolute; /* Set the div position to absolute */
  top: 10px; /* Adjust the top distance as needed */
  right: 10px; /* Adjust the right distance as needed */
}
