<!DOCTYPE html>
<html>
<head>
  <title>Stadium Information Form</title>
  <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>
  <div class="container" >
    <form class="stadium-form" #form="ngForm" (ngSubmit)="savestadium(form.value)">
      <h2>Stadium Information</h2>
      <div class="form-group">
        <label for="stadium-name">Stadium Name:</label>
        <input type="text" id="stadium-name" name="stadiumName" required  [(ngModel)]="stadiumref.stadiumName">
      </div>
      <div class="form-group">
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required  [(ngModel)]="stadiumref.location">
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>
